#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PF5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB1
min_temp: 0
max_temp: 130
control: pid
pid_Kp=67.590
pid_Ki=0.643
pid_Kd=1776.775
